<nav class="flex space-between">
    <div class="flex h-left v-center">
        <a href="/"><button>{% include "landing/svgs/SVG-Campaigns.svg" %}</button></a>
        <a href="/"><button>Pocket Campaigns</button></a>
    </div>

    <div class="flex h-right v-center">
        <a href="https://discord.gg/rD7vnzC"><button>{% include "landing/svgs/discord-icon.svg" %}</button></a>
        <a><button onClick={this.props.login} className="login">Login</button></a>
        <a><button onClick={this.props.register} className="register">Register</button></a>
    </div>
</nav>